@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

::-webkit-scrollbar{
    display: none;
}

.active {
    color :#20bbf8;
    border-bottom: 2px solid #20bbf8;
}